body {
    margin: 60px auto;
    width: 70%;
    background-color: lightblue ; 
}

h1 {
    color: red;
    font-size: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h4 {
    color: white;
    font-size: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 20px;
    color: white;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

