body {
    margin: 60px auto;
    width: 60%;
    background-color: blue ; 
}

h1 {
    color: red;
    font-size: 20px;
    text-align:center;
    
}
h4 {
    color: white;
    font-size: 12px;
  
}
p {
    font-size: 12px;
    color: white;
}


